<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<title>M캘린더 - 메인</title>
	</head>
	<body>
		<div class="d-flex flex-column mb-3 center">
			<div class="content">
				<div class="animated fadeInUp center">
					<img
						src="https://proxy.goorm.io/service/6353aeb61a0d000c3f00cae5_dCeAhoKFqOdqdfV9N7c.run.goorm.io/9080/file/load/logoBig.png?path=d29ya3NwYWNlJTJGY2FsZW5kZXIlMkZsb2dvQmlnLnBuZw==&docker_id=dCeAhoKFqOdqdfV9N7c&secure_session_id=nymbZu5ZKCnQdfCOyKxwGo_ldvnpQJ02"
						alt=""
						width="20%"
						class="center"
					/>
					<h1 class="center">M캘린더로 나만의 캘린더를 만들어보세요</h1>
					<span class="center font"
						>더이상 공책을 잃어버리거나<br />공책이 젖을 일이 없습니다</span
					>
				</div>
				<button
					type="button"
					class="btn btn-outline-success btn-lg center"
					style="width: 50%;"
					onclick="location.href = '/to_do_lists'"
				>
					바로 사용하기>>>
				</button>
				<br /><br />
			</div>
			<div class="content2">
				<div class="animated fadeInLeft delay-1s center">
					<br /><br />
					<img
						src="https://proxy.goorm.io/service/6353aeb61a0d000c3f00cae5_dCeAhoKFqOdqdfV9N7c.run.goorm.io/9080/file/load/question.png?path=d29ya3NwYWNlJTJGY2FsZW5kZXIlMkZxdWVzdGlvbi5wbmc=&docker_id=dCeAhoKFqOdqdfV9N7c&secure_session_id=nymbZu5ZKCnQdfCOyKxwGo_ldvnpQJ02"
						alt=""
						width="20%"
						class="center"
					/>
					<h1 class="center">왜 M캘린더 인가요?</h1>
					<span class="center font"
						>M캘린더는 복잡한 옵션없이<br />간단하게 여러분의 할일들을 추가할 수
						있습니다</span
					>
					<br /><br />
				</div>
			</div>
			<div class="content3">
				<div class="animated fadeInRight delay-2s center">
					<br /><br />
					<img
						src="https://proxy.goorm.io/service/6353aeb61a0d000c3f00cae5_dCeAhoKFqOdqdfV9N7c.run.goorm.io/9080/file/load/question2.png?path=d29ya3NwYWNlJTJGY2FsZW5kZXIlMkZxdWVzdGlvbjIucG5n&docker_id=dCeAhoKFqOdqdfV9N7c&secure_session_id=nymbZu5ZKCnQdfCOyKxwGo_ldvnpQJ02"
						alt=""
						width="20%"
						class="center"
					/>
					<h1 class="center">궁금한게 있어요!</h1>
					<span class="center font">궁금한 게 있다면 도움말을 확인해주세요</span>
				</div>
				<button
					type="button"
					class="btn btn-outline-success btn-lg center"
					style="width: 50%;"
					onclick="location.href = '/FAQ'"
				>
					도움말 확인하기>>>
				</button>
				<br /><br />
			</div>
		</div>
	</body>
</html>